body{
  margin: 0;
}

.wrapper{
  background-color: tomato;
  color: white;
  border: 20px solid black;
  padding; 50px;
  margin: 50px;

}

h1{
  margin-top: 0;
  font-size: 85px;
  text-transform: uppercase;
}

a{
  color: black;
  text-decoration: underline;
}

.image2{
  width: 50px;
  height: 50px;
}

.main .sidebar{
float: left;
}

.main{
width: 70px;
background: white;
color: black;
}

.sidebar{
width: 30px;
background: grey;
}

#about, .main .sidebar{
  height: 300px;
}
